#Like gitignore, but for Docker
# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python virtual environment
venv
.venv
env
.env
*.pyc
__pycache__/

# IDE and OS files
.idea/
.vscode/
*.DS_Store

# Datasets and models (add your own folders here)
data/
models/
*.h5
*.pt
*.bin

# Build artifacts
build/
dist/
*.egg-info/