fastapi
sqlalchemy 
uvicorn
pydantic 
httpx
python-dotenv
transformers
tf-keras
jinja2
openai 
langchain
langchain-community
langchain-openai
sqlalchemy
firebase-admin
langchain-huggingface
google-generativeai
python-jose 
passlib
bcrypt

# -e . 