fastapi
sqlalchemy 
uvicorn
pydantic 
firebase-admin
httpx
python-dotenv
transformers
tf-keras
jinja2
openai 
langchain
langchain-community
langchain-openai
sqlalchemy
firebase-admin
langchain-huggingface
google-generativeai

# -e . 