{% extends "base.html" %}
{% block title %}Assessment{% endblock %}




{% block content %}
    
<div class="relative z-10 h-[calc(100vh-70px)] flex justify-between px-6 md:px-0 ">

    <!-- Left Section -->
    <div id="one" class="w-1/2 p-5 one overflow-auto">
        <h1 class="text-3xl font-bold mb-4">Text Analysis</h1>
        <form id="textForm">
            <label for="textInput" class="block text-lg font-medium mb-2">Enter your text:</label>
            <textarea id="textInput" name="text" rows="4" class="w-full p-2 border-2 border-black  bg-blue-100 rounded mb-4"></textarea>
            <button type="submit" id="submitButton" class="p-3 px-20 text-xl rounded-full bg-green-300 hover:bg-green-200 font-semibold">Analyze</button>
        </form>

        <div id="resultDiv" class="mt-6">
            <h2 class="text-xl font-semibold mb-2">Result:</h2>
            <p id="output" class="p-3 border border-gray-300 rounded bg-gray-100">Analysis..</p>
        </div>
    </div>

    <!-- Right Section -->
    <div id="two" class="w-1/2 p-5 border-l-[1px] border-black two overflow-auto">
        <!-- Content for the right section -->
    </div>


</div>

{% endblock %}

{% block all_scripts%}

    <script>
        window.onload = function() {
            // Check if the token is present in localStorage
            const token = localStorage.getItem("authToken");


            if (!token) {
                // If no token, redirect to login page
                alert("You need to login to access this page");
                window.location.href = '/login';
            }
            else{
                console.log(token);
            }
        };
    </script>

    <script src="../static/script.js"></script>
{% endblock %}