{% extends "base.html" %}
{% block title %}Helplines{% endblock %}



{% block content %}
<div class="container mx-auto py-10">
    <h1 class="text-3xl font-bold text-center mb-1">Helplines</h1>
    <div class=" h-[5px] w-[60px] rounded-lg bg-green-300 mx-auto mb-8"></div>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for name, details in helplines.items() %}
        <div class="bg-green-100 shadow-md rounded-lg p-6">
            <h2 class="text-xl font-semibold mb-2">{{ name }}</h2>
            <p class="text-gray-600 mb-1"><strong>About:</strong> {{ details.About }}</p>
            <p class="text-gray-600 mb-1"><strong>Type:</strong> {{ details.Type }}</p>
            <p class="text-gray-600 mb-1"><strong>Number:</strong> {{ details.Number }}</p>
            <p class="text-gray-600 mb-1"><strong>Website:</strong> <a href="{{ details.Website }}" class="text-blue-500" target="_blank">{{ details.Website }}</a></p>
            <p class="text-gray-600 mb-1"><strong>Hours:</strong> {{ details.Hours }}</p>
            <p class="text-gray-600 mb-1"><strong>Languages:</strong> {{ details.Languages }}</p>
            <p class="text-gray-600 mb-1"><strong>Specialty:</strong> {{ details.Specialty }}</p>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}







{% block all_scripts%}
    <script src="../static/script.js"></script>
{% endblock %}
































