<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miraat-Login/Register</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="h-[100vh] flex flex-col justify-between">

    <!-- Full Page Background Pattern -->
    <div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#f0f0f0_1px,transparent_1.5px),linear-gradient(to_bottom,#f0f0f0_1px,transparent_1px)] bg-[size:6rem_4rem]"></div>

    <nav class="relative z-10 flex justify-between items-center h-[70px] px-10 md:px-15">
        <div class="text-2xl font-bold font-serif rounded-md">
            Miraat
        </div>
        <div class="space-x-9 text-lg font-semibold font-sans text-black hidden md:flex">
            <a href="/" class="hover:text-green-300">Home</a>
            <a href="/assessment" class="hover:text-green-300">Assessment</a>
            <a href="/assessment" class="hover:text-green-300 ">ChatBot</a>
            <a href="/helplines" class="hover:text-green-300 ">Helplines</a>
            <a href="/helplines" class="hover:text-green-300 ">History</a>
            <a href="#assessment" class="hover:text-green-300 ">About</a>
        </div>


        <!-- This thing is just dummy here no importance  -->
        <div class="space-x-4 hidden font-sans font-semibold md:flex opacity-0">
            <a class="hover:text-sky-300 bg-green-300 text-lg rounded-full px-10 py-2">Login</a>
        </div>
        <div class="md:hidden">
            <button id="menu-button" class="text-xl">&#9776;</button>
        </div>



    </nav>



    <div class="flex-grow flex items-center justify-center px-4 sm:px-6 lg:px-8">
        <!-- Login Form Container -->
        <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-xl shadow-lg" id="loginContainer">
            <div>
                <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                    Sign in to your account
                </h2>
            </div>
            <form class="mt-8 space-y-6" id="loginForm">
                <div class="rounded-md shadow-sm -space-y-px">
                    <div>
                        <label for="loginEmail" class="sr-only">Username</label>
                        <input id="loginEmail" name="email" type="email" required 
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                            placeholder="Email address">
                    </div>
                    <div>
                        <label for="loginPassword" class="sr-only">Password</label>
                        <input id="loginPassword" name="password" type="password" required 
                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                            placeholder="Password">
                    </div>
                </div>
                <div>
                    <button type="button" onclick="login()" 
                        class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                        Sign in
                    </button>
                </div>
                <div class="flex items-center justify-between text-sm">
                    <a href="#" onclick="showRegisterForm()" class="font-medium text-green-600 hover:text-green-500">
                        Register new account
                    </a>
                    <a href="#" class="font-medium text-green-600 hover:text-green-500">
                        Forgot password?
                    </a>
                </div>
            </form>
        </div>




        <!-- Register Form Container -->
        <div class="max-w-md w-full space-y-8 bg-white p-8 rounded-xl shadow-lg hidden" id="registerContainer">
            <div>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Create your account
            </h2>
            </div>
            <form class="mt-8 space-y-6" id="registerForm">
            <div class="rounded-md shadow-sm -space-y-px">
                <div>
                <label for="name" class="sr-only">Name</label>
                <input id="name" name="name" type="text" required 
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                    placeholder="Name">
                </div>
                <div>
                <label for="email" class="sr-only">Email address</label>
                <input id="email" name="email" type="email" required 
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                    placeholder="Email address">
                </div>
                <div>
                <label for="age" class="sr-only">Age</label>
                <input id="age" name="age" type="number" required 
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                    placeholder="Age">
                </div>
                <div>
                <label for="gender" class="sr-only">Gender</label>
                <select id="gender" name="gender" required 
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm">
                    <option value="" disabled selected>Select Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                    <option value="other">Other</option>
                </select>
                </div>
                <div>
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" required 
                    class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:ring-green-500 focus:border-green-500 focus:z-10 sm:text-sm" 
                    placeholder="Password">
                </div>
            </div>
            <div>
                <button type="button" onclick="register()" 
                class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
                Register
                </button>

            </div>
            <div class="flex items-center justify-center text-sm">
                <a href="#" onclick="showLoginForm()" class="font-medium text-green-600 hover:text-green-500">
                Already have an account? Sign in
                </a>
            </div>
            </form>
        </div>



        
    </div>

    <!-- Footer Section -->
    <footer class="bg-black text-white py-3">
        <div class="text-center">
            <p>&copy; <span id="year"></span> All rights reserved | Made with ❤️ by Vikas</p>
        </div>
    </footer>


    <!-- JavaScript for Mobile Menu Toggle -->
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();
        const menuButton = document.getElementById('menu-button');
        const mobileMenu = document.getElementById('mobile-menu');

        menuButton.addEventListener('click', () => {
            mobileMenu.classList.toggle('hidden');
        });
    </script>


    <script type="module" src="../static/js/register.js"></script>

    <script>
        function showRegisterForm() {
            document.getElementById('loginContainer').classList.add('hidden');
            document.getElementById('registerContainer').classList.remove('hidden');
        }

        function showLoginForm() {
            document.getElementById('registerContainer').classList.add('hidden');
            document.getElementById('loginContainer').classList.remove('hidden');
        }
    </script>


</body>
</html>
